/* 通用效果 */
h3,
ul,
p,
table,
body,
figure {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ccc;
}

ul {
    list-style-type: none;
}

/* 公用样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

/* 编写导航条样式 */
#nav {
    width: 100%;
    background-color: #555;
    color: #fff;
    position: fixed;
    z-index: 9;
    top: 0;
}

#nav #sub_nav {
    display: none;
    position: absolute;
    z-index: 5;
    width: 180px;
    padding-bottom: 20px;
    background-color: #fff;
}

#nav #sub_nav li {
    line-height: 42px;
    width: 100%;
    margin-left: 30px;
    text-align: left;
    height: 42px;
}

#nav #sub_nav li a {
    color: #444;
}

#nav #sub_nav li a:hover {
    color: red;
}

#nav .con {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 0px red;
    height: 80px;
    line-height: 80px;
}

#nav .con .log {
    float: left;
    font-size: 28px;
    margin-right: 100px;
}

#nav .con ul {
    float: left;
    overflow: hidden;
}

#nav .con ul li {
    float: left;
    width: 80px;
    text-align: center;
    margin-right: 20px;
}

#nav .con .act {
    float: right;
}

#nav .con .act a {
    margin-right: 10px;
}

/* 编写一个获取焦点的前景色 */
#nav .focus {
    color: aqua
}

/* 编写第一屏的样式 */
#layer1 {
    width: 1140px;
    margin: 0px auto;
    border: solid 0px red;
    margin-top: 100px;
    overflow: hidden;
}

#layer1 .lleft {
    width: 752px;
    margin-right: 23px;
    float: left;
}

#layer1 .lleft .swipe {
    position: relative;
}

#layer1 .lleft .swipe p {
    position: absolute;
    padding: 10px 20px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    bottom: 4px;
    left: 0;
    width: 712px;
}

#layer1 #imgleft:hover,
#layer1 #imgright:hover {
    opacity: 0.9;
}

#layer1 #imgleft,
#layer1 #imgright {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    cursor: pointer;
    height: 56px;
    line-height: 36px;
    width: 50px;
    font-size: 100px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 150ms;
}

#layer1 #imgright {
    right: 0;
}

#layer1 .lright {
    float: right;
    width: 363px;
}

#layer1 .lright .box:nth-child(2) {
    margin-top: 20px;
}

#layer1 .lright .box {
    position: relative;
    height: 216px;
}

#layer1 .lright .box .btitle,
#layer1 .lright .box p {
    position: absolute;
}

#layer1 .lright .box .btitle {
    top: 15px;
    left: 15px;
    background-color: #151616;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
}

#layer1 .lright .box p {
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 20px;
    width: 345px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* 登录页面的样式 */
#bg {
    position: fixed;
    opacity: 0.3;
}

#log {
    width: 480px;
    height: 335px;
    border: solid 0px red;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    left: 50%;
    top: 25%;
    margin-left: -240px;
}

#log h3 {
    text-align: center;
    font-size: 28px;
    margin: 30px 0;
}

#log div:first-child {
    margin-top: 30px;
}

#log div {
    margin: 20px 0;
}

#log form {
    margin-left: 30px;
}

#log .txt {
    width: 400px;
    padding: 8px 10px;
    border: solid 1px #ccc;
}

#log .btn {
    padding: 10px 19px;
    border-radius: 6px;
    border: solid 1px #555;
    font-weight: bold;
    font-size: 18px;
}

#log .btn:hover {
    color: #fff;
    background-color: #555;
}

/* 文章列表页样式 开始 */
.bgimg {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background: url("../images/page_bg1.png") no-repeat;
    background-size: cover;
}

.title {
    width: 1140px;
    border-bottom: solid 1px #555;
    margin: 20px auto;
    overflow: hidden;
}

.title .ltip {
    float: left;
    padding: 20px 40px;
    background-color: #555;
    color: #fff;
    font-size: 20px;
}

.title .rtip {
    margin-top: 30px;
    float: right;
}

.con {
    width: 1140px;
    overflow: hidden;
    border: solid 0px red;
    margin: 20px auto;
}

.con .cleft {
    float: left;
    width: 752px;
    border: solid 0px red;
}

.con .cright {
    float: right;
    width: 365px;
    border: solid 0px red;
    padding: 30px 0px;
    background-color: #fff;
}

.con .cright h3,
.con .cright .line,
.con .cright figure {
    margin-left: 32px;
}

.con .cright .line {
    border-bottom: solid 2px #444;
    width: 80px;
    margin: 20px 32px;
}

.con .cright figure:not(:last-child) {
    margin-bottom: 20px;
}

.con .cleft .ccon {
    padding: 30px 20px;
    border: solid 0px red;
    margin-bottom: 20px;
    background-color: #fff;
}

.con .cleft .ccon .cctip {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.con .cleft .ccon .ccframe {
    overflow: hidden;
}

.con .cleft .ccon .ccframe figure {
    float: left;
}

.con .cleft .ccon .ccframe .ccright {
    width: 400px;
    float: right;
    color: #444;
}

.con .cleft .ccon .ccframe .ccright p {
    margin: 30px 20px;
}

.con .cleft .ccon .ccframe .ccright .info {
    margin: 0px 20px 30px 20px;
}

/* 文章列表页样式 结束 */
.con .cleft .send {
    background-color: #fff;
    padding: 20px 15px;
}

.con .cleft .send .div {
    margin: 20px 0px;
}

.con .cleft .send .stitle input {
    padding: 8px 10px;
    border: solid 1px #ccc;
}

.con .cleft .send .scon textarea {
    width: 600px;
    border: solid 1px #ccc;
}

.con .cleft .send .sbtn button {
    padding: 10px 19px;
    border-radius: 6px;
    border: solid 1px #555;
    font-weight: bold;
    font-size: 18px;
}

.con .cleft .send .sbtn button:hover {
    color: #fff;
    background-color: #555;
}

.items {
    width: 1140px;
    margin: 20px auto;
    border: solid 0px red;
    overflow: hidden;
}

.items .item {
    background-color: #fff;
    float: left;
    width: 270px;
    margin: 0 5px 0 10px;
    position: relative;
    border: solid 0px red;
}

.items .item span {
    position: absolute;
    padding: 3px 5px;
    background-color: #c02640;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    top: 15px;
    right: 15px;
}

.items .clear {
    margin-right: -10px;
}

.items .item figure img {
    width: 270px;
    height: 178px;
}

.items .item p {
    margin: 10px 25px 20px 25px;
    font-size: 15px;
    border: solid 0px red;
    width: 220px;
    height: 42px;
    overflow: hidden;
}

#footer {
    width: 100%;
    background-color: #555;
    color: #f1f1f1;
}

#footer p {
    text-align: center;
    width: 1140px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px
}

.pchange11 {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 0px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}


