<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
</head>

<body>
    <div id="nav">
        <div class="con">
            <div class="log">个人博客</div>
            <ul>
                <li><a href="index.html" class="focus">网站首页</a></li>
                <li><a href="list.html">文章列表</a>
                    <ul id="sub_nav">
                        <li><a href="">Python</a></li>
                        <li><a href="">Python Web</a></li>
                        <li><a href="">爬虫</a></li>
                        <li><a href="">人工智能</a></li>
                        <li><a href="">JS实例索引</a></li>
                    </ul>
                </li>
                <li><a href="pics.html">我的相册</a></li>
                <li><a href="">时间轴</a></li>
                <li><a href="">留言</a></a></li>
                <li><a href="">关于我</a></li>
                <li><a href="send.html">发表博客</a></li>
            </ul>
            {% if username %}
            <div class="act">欢迎:{{username}}   <a href="user/logout">退出</a></div>

            {% else %}
                <div class="act"><a href="user/login">登录</a><a href="user/reg">注册</a></div>

            {% endif%}

        </div>
    </div>


    <!-- 第一屏页面元素 -->
    <div id="layer1">
        <div class="lleft">
            <div class="swipe">
                <span id="imgleft">&lsaquo;</span>
                <img id="img" width="752" height="452" src="/static/images/banner01.jpg" alt="">
                <span id="imgright">&rsaquo;</span>
                <p>爬虫微课5小时python学习路线!</p>
            </div>
        </div>

        <div class="lright">
            <div class="box">
                <div class="btitle">Linux</div>
                <img src="/static/images/toppic01.jpg" width="365" height="216" alt="">
                <p>Linux升级为p3,安装pip,svn</p>
            </div>
            <div class="box">
                <div class="btitle">Python</div>
                <img src="/static/images/toppic02.jpg" width="365" height="216" alt="">
                <p>精通Python编程——深入浅出教程</p>
            </div>
        </div>
    </div>

    <!-- 第二屏页面元素 -->
    <div class="con">
        <div class="cleft">
            <div class="ccon" data-scroll-reveal="bottom 10px 3 3">
                <div class="cctip">Python语言在人工智能方向上的优势</div>
                <div class="ccframe">
                    <figure>
                        <img width="300" src="/static/images/toppic01.jpg" alt="">
                    </figure>
                    <div class="ccright">
                        <p>方法规定当鼠标指针悬停在被选元素上时要运行的两个函数。方法触发 mouseenter 和 mouseleave 事件。</p>
                        <div class="info">4566已阅读</div>
                    </div>
                </div>
            </div>
            <div class="ccon" data-scroll-reveal="bottom 10px 3 3">
                <div class="cctip">Python语言在人工智能方向上的优势</div>
                <div class="ccframe">
                    <figure>
                        <img width="300" src="/static/images/toppic02.jpg" alt="">
                    </figure>
                    <div class="ccright">
                        <p>方法规定当鼠标指针悬停在被选元素上时要运行的两个函数。方法触发 mouseenter 和 mouseleave 事件。</p>
                        <div class="info">4566已阅读</div>
                    </div>
                </div>
            </div>
            <div class="ccon" data-scroll-reveal="bottom 10px 3 3">
                <div class="cctip">Python语言在人工智能方向上的优势</div>
                <div class="ccframe">
                    <figure>
                        <img width="300" src="/static/images/toppic02.jpg" alt="">
                    </figure>
                    <div class="ccright">
                        <p>方法规定当鼠标指针悬停在被选元素上时要运行的两个函数。方法触发 mouseenter 和 mouseleave 事件。</p>
                        <div class="info">4566已阅读</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="cright">
            <h3>特别推荐</h3>
            <div class="line"></div>
            <figure data-scroll-reveal="bottom 10px 3 3">
                <img width="300" src="/static/images/banner01.jpg" alt="">
            </figure>
            <figure data-scroll-reveal="bottom 10px 3 3">
                <img width="300" src="/static/images/banner02.jpg" alt="">
            </figure>
            <figure data-scroll-reveal="bottom 10px 3 3">
                <img width="300" src="/static/images/banner03.jpg" alt="">
            </figure>
        </div>
    </div>

    <footer id="footer">
        <p>Design by <a href=# target="_blank">程序博客</a> <a href="#">备20013433号-1</a></p>
    </footer>

    <script>
        //初始化滚动显示框加
        window.scrollReveal = new scrollReveal({
            reset: true
        })
        //绑定导航条中二级列表的菜单动画
        $("#nav ul li:nth-child(2)").hover(function () {
            //找到子类列表，停止当前动画，并显示
            $(this).children("ul").stop(true, true).show(400);
        }, function () {
            //找到子类列表，停止当前动画，并隐藏
            $(this).children("ul").stop(true, true).hide(400);
        })
        //页面加载完成事件中，添加导航栏
        $(function () {
            
            //保存大图切换的地址数组
            var arrImg = [{
                url: "images/banner01.jpg",
                tip: '爬虫微课5小时python学习路线!'
            }, {
                url: "images/banner02.jpg",
                tip: '爬虫微课5小时python学习路线2!'
            }, {
                url: "images/banner03.jpg",
                tip: '爬虫微课5小时python学习路线3!'
            }]

            //保存图片数组索引号变量
            var i = 0;
            //分别绑定左右切换图片按钮事件
            $("#imgleft").on("click", function () {
                $("#img").fadeOut(1000, function () {
                    if (i == 0) {
                        i = arrImg.length - 1;
                    } else {
                        i--;
                    }
                    $(this).attr("src", arrImg[i].url).fadeIn(1000);
                    $(".swipe p").html(arrImg[i].tip)
                })
            })

            //分别绑定左右切换图片按钮事件
            $("#imgright").on("click", function () {
                //增加图片索引号
                $("#img").fadeOut(1000, function () {
                    i++;
                    if (i > arrImg.length - 1) i = 0;
                    $(this).attr("src", arrImg[i].url).fadeIn(1000);
                    $(".swipe p").html(arrImg[i].tip)
                })
            })
        })
    </script>
</body>



</html>